.baseStyle {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-top: 16px;
  border-width: 6px;
  border-style: dashed;
  background-color: #fafafa;

  color: #bdbdbb;
  outline: none;
  transition: border 0.24s ease-in-out;
}

.remove-btn {
  position: absolute;
  background-color: #777;
  color: white;
}
