.RegisterPage > .form {
  background-color: #e0e0e0;
  padding: 20px;
  border-radius: 10px;
  min-width: 60%;
  max-width: 400px;
  margin: auto;
  margin-top: 40px;
}

@media screen and (min-width: 768px) {
  .RegisterPage > .form {
    min-width: 30%;
    max-width: 500px;
    margin: auto;
    margin-top: 60px;
  }
}
