.stray-list {
  padding: 30px;
}

.ScribbleListPage > h4 {
  font-family: "Pacifico", cursive;
  margin-top: 20px;
  /* color:#808080; */
  color: pink;

  background-color: black;
  padding: 20px;
  border-radius: 10px;
  display: inline-block;
  /* box-shadow: blue; */
}
