.stray-list {
  padding: 30px;
}

.ScribbleListPage > h4 {
  font-family: "Pacifico", cursive;
  margin-top: 20px;
  text-shadow: 2px 2px 2px #7B3C3C;
  display: inline-block;
}

.stray-item:hover {
  color: #A9294F;
}


