.ScribbleBtn-div {
  position: fixed;
  bottom: 10px;
  left: 10px;
}

.ScribbleBtn {
  background: #fff9c9;
  border-radius: 26px;
  border: 10px solid #862b0d;
  color: #862b0d;
}

.ScribbleBtn:hover {
  border: 10px solid #c27664;
  color: #c27664;
}
