.ScribblePage{
    padding:20px;
    /* border:2px solid black; */
}

 .textarea-wrap {
overflow:hidden;
padding: 0 4px 0 12px

}

textarea {
    width: 100%;
    height: min-content;
    border:4px dotted pink;
    margin-top:20px;
    outline:none;
}

.screenshot {
    /* min-height: 300px;
    border: solid 1px #ccc; */
    width: 100%;
    height: min-content;
    /* border:4px dotted pink; */
    background-color:rgb(240, 204, 224, 0.3);
    text-align: left;
    padding:10px;
    border-radius: 6px;
}

.span-div{
    border:1px solid black;
    /* min-height:30px */
}

.input{
    outline:pink
}