.sort-preview-drawer {
  text-align: left;
  /* color: green; */
}

.sort-drawer-preview-div > h3 {
  font-size: 12px;
}

.sort-preview-sub-drawers {
  text-align: left;
}

.sort-preview-scribbles {
  text-align: left;
}

.empty-drawer {
  text-align: left;
  text-indent: 30px;
  color: #6F9EAF;
}

.drawer-content-result-div {
  padding: 10px;
  border: 10px solid #606060;
  margin-bottom: 10px;
  border-radius: 10px;
}

.move-btn {
  margin-bottom: 20px;
}

.back-btn {
  margin-top: 30px;
  cursor: pointer;
}

.move-btn:hover{
  animation: updown 2s ease;
}

@keyframes updown {
  0% {
    transform: translateY(-10%);
  }

  50% {
    transform: translateY(10%);
  }

  100% {
    transform: translateY(-10%);
  }
}

.move-btn2:hover{
  animation: updown2 1s ease;
}

@keyframes updown2 {
  0% {
    transform: translateY(10%);
  }

  50% {
    transform: translateY(20%);
  }

  100% {
    transform: translateY(10%);
  }
}
