.sort-preview-drawer {
  text-align: left;
  /* color: green; */
}

.sort-drawer-preview-div>h3{
  font-size:12px;
}

.sort-preview-sub-drawers {
  text-align: left;
  /* color: purple; */
}

.sort-preview-scribbles {
  text-align: left;
  /* color: darkcyan; */
}

.empty-drawer{
  text-align: left;
  text-indent: 30px;
  color:blueviolet;
}

.drawer-content-result-div {
  padding:10px;
  border: 10px solid #606060;
  margin-bottom:10px;
  border-radius: 10px;
}

/* .indent-2 {
  text-indent: 40px;
}

.indent-3 {
  text-indent: 80px;
}

.scrb-indent1 {
  text-indent: 20px;
}

.scrb-indent2 {
  text-indent: 50px;
}

.scrb-indent3 {
  text-indent: 90px;
} */

.move-btn {
  margin-bottom:20px;
}

.back-btn{
  margin-top:30px;
}